<% @materias_alumno.each do |materia_alumno| %>
  <% materia = Materia.find(materia_alumno.materia_id) %>
<div id="mats2" class="round">
  Nombre materia: <div class="help-block"><%= materia.nombre %></div>
  Semestre: <div class="help-block"><%= materia.semestre %></div>
  Descripcion: <div class="help-block"><%= materia.descripcion %></div>
</div>
<% end %>

<div class="pagination">
  <%= will_paginate @materias_alumno %>
</div>