<h1>Bienvenido a Classmates</h1>

<p>
Class mate es una aplicacion web que pretende dar una aopcion mas a la hora de<br/>
comunicarnos y comprartir recursos, esta aplicacion permite que los alumnos de cierta <br/>
clase puedan compartir recurso y puedan establecer una comunicacion de manera sencilla. <br/>
Class-mates estara desarrollada en ruby on rails, un framework que utiliza al lenguaje <br/>
ruby como su base, dicho framework esta basado en el modelo MVC, modelo-vista-controlador.
</p>
<p>
Class-mates es una aplicacion con una interfaz sencilla, pero amigable. Con ella los compañeros <br/>
de clase podran obtener un mejor rendimiento, ya que tendran la posibilidad de exponer sus dudas y conocimientos.
</p>


  <%= link_to "Registrate!", new_usuario_url, :class => "signup_button round" %>
