/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/



body{
    background-color: darkgrey;
   background-image: url("fondo.jpeg");
    color: #ffffff;

}

#datos_usuario{
    
    width: 700px;
  background-color: #d3d3d3;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 1px solid #950097;
  border-right: none;
  border-bottom: 1px solid #950097;
  border-radius-topright: 10px;
  border-radius-bottomright: 10px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  box-shadow: -2px 2px 3px #950097;
  -webkit-box-shadow: -2px 2px 3px #950097;
  -moz-box-shadow: -2px 2px 3px #950097;
}

#struct{
    margin: auto;
     background: #f9f9f9;
     width: 800px;
     padding: 15px;
     padding-left: 30px;
     height: 1000px;
}

#logo{
    width: 7750px;
    height: 175px;
    background-image: url("logo2.jpg");
    background-repeat: no-repeat;
}

a {
  color: red;
  text-decoration: none;
}

img .round {
    width: 500px;
    height: 175px;
    margin-bottom: 50px;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: darkred;
}

#mats a{
    color: #f00;
}

/* Navigation */



nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  float: right;
  font-size: 11px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


fieldset .actions{
    margin-left: 50px;
    margin-top: 18px;
}

fieldset .inputs{
    margin-right: 30px;
}

.elemento{
    margin: 5px 0 5px 20px;
}

.elemento2{
    margin : 12px;
    margin-left: 20px;
}

#div-post{
    width: 400px;
    height: auto;

    float: right;
    padding: 7px;
    color :crimson;
}

.posts {
    background-color: blanchedalmond;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 162px;
    padding-left: 13px;
    padding-top: 12px;
}

.tr{
    margin : 15px;
    margin-bottom: 28px;
}

.encabezados{
    width: 700px;
    height: 35px;
    background-color: aliceblue;
    color: navy;
    margin-bottom: 35px;
}

#mats{
     background-color: blanchedalmond;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    padding-left: 13px;
    padding-top: 12px;
    width: 680px;
    color: saddlebrown
}

#mats2{
     background-color: blanchedalmond;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    padding-left: 13px;
    padding-top: 12px;
    width: 380px;
    color: saddlebrown
}


#titulo{
    color: beige;
    margin-left: 500px;
}
